{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser | default: "/images/sit_1.png" %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
{% assign card_type = include.type | default: page.entries_layout | default: "list" %}

<div class="{{ card_type }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if card_type == "grid" %}
      <div class="archive__item-teaser">
        <a href="{{ post.url | relative_url }}" rel="permalink" aria-hidden="true" tabindex="-1">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | relative_url }}"
            {% endif %}
            alt="{{ title | strip_html | escape }}" loading="lazy">
        </a>
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.date or post.read_time %}
      <p class="page__meta">
        {% if post.date %}
          <span class="page__meta-date"><i class="fas fa-calendar-alt" aria-hidden="true"></i> {{ post.date | date: "%b %d, %Y" }}</span>
        {% endif %}
        {% if post.read_time %}
          <span class="page__meta-readtime"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</span>
        {% endif %}
      </p>
    {% endif %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 140 }}</p>{% endif %}
    {% if post.tags %}
      <p class="archive__item-tags">
        {% for tag in post.tags limit:3 %}
          <span class="tag-pill">{{ tag }}</span>
        {% endfor %}
      </p>
    {% endif %}
  </article>
</div>
